html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-body h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.cart-card {
    /* width: 90%; */
    background: beige;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.cart-product-card {
    width: 240px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    box-shadow: 5px 5px 10px #808080;
}

    .cart-product-card div {
        margin-bottom: 5px;
    }

.cart-order-header {
    width: calc(100% + 22px );
    margin-top: -10px;
    padding: 5px;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px 10px 0 0;
}

.delete-button {
    width: 25px;
    height: 25px;
    background: rgba( 128, 128, 128, .3 );
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.cart-total-card {
    background: beige;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.cart-total-style {
    font-size: 20px;
}

.checkout-button {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background: #ffb347;
    font-size: 20px;
    letter-spacing: .75px;
}

@media (min-width: 750px) {
    .cart-body {
        margin-top: 30px;
    }

    .cart-body h1 {
        font-size: 26px;
    }

    .cart-card {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        min-width: 50%;
    }
    .cart-product-card {
        margin: 15px;
    }

    .cart-total-style {
        margin: 0 10px;
    }
}

@media (min-width: 1000px) {
    .cart-body {
        margin-top: 0;
    }
}