html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.home-front {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
    height: 0;
    width: 100%;
    padding-top: 75%;
    display: flex;
    justify-content: center;
    background-image: url('../../images/hero.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
}

.home-info {
  width: 90%;
  background: beige; 
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px;
  font-size: 22px;
  text-align: center;
  line-height: 110%;
  margin-top: 10px;
}

.large-home {
  display: none;
}

.home-body {
  width: 90%;
  background: beige; 
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px;
  font-size: 18px;
  text-align: center;
  line-height: 120%;
  margin-top: 10px;
}

.home-body p {
  text-align: left;
}

@media (min-width: 750px) {
  .hero {
    width: 90%;
    padding-top: 42%;
    border-radius: 0 0 10px 10px;
    margin-top: 30px;
  }

  .home-info {
    width: 80%;
    font-size: 30px;
  }

  .home-body {
    width: 80%;
    font-size: 24px;
  }
}

@media (min-width: 1000px) {
  .home-front {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
  }

  .hero {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  .home-info {
    margin-top: -280px;
    background: rgba(245, 245, 220, 0.6);
  }

  .large-home {
    display: flex;
    justify-content: space-around;
  }

  .home-body {
    width: 60%;
    align-self: center;
    padding: 30px 60px;
    font-size: 20px;
  }

  .home-login {
    width: 30%;
    height: 40%;
    align-self: center;
    background: beige;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

  .home-about-body {
    background: none;
  }

  #small {
    display: none;
  }
}